.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px 0 20px;

}

p {
    font-weight: bold;
}

span {
    font-weight: 100;
}

b {
    font-weight: bold;
}